.button-group-categories {
    border-bottom: .1rem solid #ccc;
    margin-bottom: 1rem;
}

.button-categories {
    border: 0;
    background: transparent;
    text-transform: uppercase;
    font-family: 'Poppins', serif, san-serif;
    font-size: 1.05rem;
    margin-top: 1.5rem;
    padding: 1rem;
}

.button-categories:hover {
    background-color: #f1f1f1;
    transition-duration: .3s;
}

.button-categories.active {
    font-weight: 500;
    background-color: #ddd;
}

.button-subcategories {
    border: none;
    font-family: "Poppins", serif, san-serif;
    padding: 1rem;
    margin-left: 1rem;
    background-color: #f1f1f1;
    font-size: .9rem;
}

.button-subcategories.active {
    background-color: #ddd;
    font-weight: 500;
}