.hero {
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../hero.png');
    position: relative;
    background-position: top;
    overflow: hidden;
    width: 100%;
    border-radius: .3rem;
    margin-top: 1rem;
}

.hero-caption {
    position: absolute;
    left: 10%;
    top: 80%;
    transform: translate(-10%, -80%);
    background: rgba(450, 450, 450, 0.7);
    padding: 2rem 2.5rem;
    border-radius: .3rem;
}

.heading-primary {
    font-family: 'Poppins', serif, san-serif;
    font-size: 2.3rem;
    font-weight: 700;
    color: #212529;
}

.heading-secondary {
    font-family: 'Poppins',serif, san-serif;
    font-size: 1.4rem;
    line-height: 1.3;
    color: #212529;
}

.hero-button {
    border: #0dcaf0!important;
    background-color: #0dcaf0!important;
    padding: .6rem 1rem;
    border-radius: .3rem;
    font-family: "Poppins", serif, san-serif;
    color: #fff;
    font-weight: 400;
    font-size: .95rem;
}

.hero__button:hover {
    background-color: #ddd;
}

@media (max-width: 767.98px) {
    .hero__caption {
        padding: 1.5rem 1rem;
        background: rgba(450, 450, 450, 0.6);
    }

    .heading-primary {
        font-size: 1.3rem;
    }

    .heading-secondary {
        font-size: .95rem;
    }

    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../hero-mobile.png');
    }

    .hero__button {
        font-size: .8rem;
        margin-top: .5rem;
        padding: .5rem 1rem;
    }
}